@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
/*remove any margin around the page to psuh it. */
body{
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
}

/*nav bar content styling*/
header{
    font-size: 10px;/*font size of the links */
    background-color: #1e2733;
    letter-spacing: 4px;
    display: flex;/*flex the header to allow the content to push itself down bwhen page resizes*/
}
nav{
    margin-right:10px;/*some space on the right side so that it is not too close to the side of the screen*/
    width:100%;
}
.logo{
    padding:5px;
    height:50px;
}
.nav_links{
    list-style: none;/*remove bulleting*/
    float:right;/*pushes text to the right*/
}
.nav_links li {
    display: inline-block;/*align all the links in a row*/
    padding: 10px;/*padding surrounding the links*/
}
nav a{
    color:rgb(212, 212, 212);
}

a{
    color: black;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
}

/*heading for all the different pages*/
.heading{
    margin-top:70px;
    margin-bottom: 0px;
    letter-spacing: 3px;
    text-align:center;
}

/*footer for all the different pages*/
footer{
    display: block;
    margin: auto;
    background-color: #1e2733;
    font-size:15px;
    text-align: center;
}
footer h4{
    width:50%;
    padding:15px 0px;
    margin:auto;  
    color:#707070;
    font-weight: normal;
}
/*social media icons styling*/
footer img{
    width:25px;
    padding:10px;
    margin: 15px;
    border:1px solid rgb(63, 63, 63); 
    border-radius: 25px;
}

/*hover over footer img and have yellow border*/
footer img:hover{
    border: 1px solid yellow;
    transition: 0.4s;
    transform: scale(1.1);
}

/*styling the line*/
hr{
    width:70%;
    margin:auto;
    border-color: #868686;
}

/*div of the social media icon*/
.socials{
    width:50%;/*50% width*/
    margin:auto;/*center of page*/
}

/*div of the footer links*/
.footer-links{
    width: 50%;
    margin: auto;
    list-style: none;/*no bullet*/
}

/*aligning the links into one straight line*/
.footer-links li{
    display: inline-block;
    padding:10px 30px;/*spacing between each link*/
}

/*styling the individual links*/
.footer-links li a{
    text-decoration: none;
    color: #6a6b6e;
    font-weight: normal;
}    

/*hover styling of footer link*/
.footer-links li a:hover{
    color: rgb(255, 255, 255);
    transition: 0.5s;
} 

@media (min-width:316px) and (max-width:480px){
    .socials{
        width:100%;
    }
}

/*This will allow the user to know which page they are on.This styling will apply in the different HTML pages and which specific link they are on.*/
.current{
    color:#00b59b;
}

